<!DOCTYPE html>
<html lang="en">
<head>
    <title>Prototyped Sandbox</title>
    <link rel="stylesheet" href="assets/css/app.css" />
</head>
<body ng-app="myApp">
    <div ng-init="mainCtrl.expanded = true"
         ng-controller="MainViewController as mainCtrl"
         style="outline: solid 1px #808080; position: absolute; margin: 0; left: 0; right: 0; top: 0; bottom: 0;">

        <!-- Top Navigation -->
        <div ng-if="mainCtrl.expanded"
             ng-class="{ 'fade-in':mainCtrl.expanded, 'fade-out':!mainCtrl.expanded }">
            <div class="view-panel view-toolbar" style="text-align:right; float: left;">
                Top Navigation ( Left )
            </div>
            <div class="view-panel view-toolbar" style="text-align:left; float: right;">
                Top Navigation ( Right )
            </div>
        </div>
        <div class="top-spacer">
            <div ng-if="mainCtrl.expanded" class="mask noselect" ng-class="{ 'fade-in':mainCtrl.expanded, 'fade-out':!mainCtrl.expanded }"></div>
            <span ng-class="{ 'slider-in':mainCtrl.expanded, 'slider-out':!mainCtrl.expanded }">
                <a href="" ng-click="mainCtrl.expanded = !mainCtrl.expanded">
                    <i class="fa fa-globe" style="font-size: xx-large;"></i>
                </a>
            </span>
        </div>


        <!-- Left Navigation -->
        <div ng-if="mainCtrl.expanded" class="vertical-spacer left" ng-class="{ 'fade-in':mainCtrl.expanded, 'fade-out':!mainCtrl.expanded }">
            <div class="mask noselect"></div>
        </div>
        <div ng-if="mainCtrl.expanded" class="vertical-spacer right view-panel" ng-class="{ 'fade-in':mainCtrl.expanded, 'fade-out':!mainCtrl.expanded }">
            <div class="mask noselect"></div>
            <div ui-view="left" style="padding: 3px; text-align:center;">
                Left Navigation
            </div>
        </div>


        <!-- Main Contents -->
        <div ng-if="mainCtrl.expanded" ui-view="main" class="main-contents view-panel" ng-class="{ 'fade-in':mainCtrl.expanded, 'fade-out':!mainCtrl.expanded }" style="padding: 3px;">

        </div>


        <!-- Footer -->
        <div ng-if="mainCtrl.expanded" class="bottom-spacer" ng-class="{ 'fade-in':mainCtrl.expanded, 'fade-out':!mainCtrl.expanded }">
            <div class="mask noselect"></div>
            <div class="view-panel" style="height: 24px; padding: 0 3px; text-align:center; vertical-align:middle;">
                Footer
            </div>
        </div>

    </div>

    <!-- Load AngularJS and all the required libraries (exclude IE < 10 from the party) -->
    <!--[if gt IE 9]><!-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.10/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.10/angular-animate.js"></script>
    <!--<![endif]-->

    <script src="assets/lib/app.js"></script>
</body>
</html>
