<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTML Template</title>
    <link href="./assets/css/app.min.css" rel="stylesheet" />
    <style>
        @import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css';
    </style>
</head>
<body>

    <div class="docked-container"
         ng-class="{ 'docked-left':!docked, 'docked-full':docked }"
         ng-init="docked = true">

        <!-- Top Navigation -->
        <div class="anim-fade">
            <div class="view-panel view-toolbar left">
                Top Navigation ( Left )
            </div>
            <div class="view-panel view-toolbar right">
                Top Navigation ( Right )
            </div>
        </div>
        <div class="top-spacer">
            <div class="mask noselect anim-fade"></div>
            <span class="anim-slide">
                <a href="" ng-click="docked = !docked">
                    <i id="__appIcon" class="fa fa-cog faa-spin animated" style="font-size: xx-large;"></i>
                </a>
            </span>
            <span id="__appStatusText" style="display: none"></span>
        </div>

        <!-- Left Navigation -->
        <div class="vertical-spacer right view-panel anim-fade">
            <div class="mask noselect"></div>
            <div class="left-container">
                Left Navigation
            </div>
        </div>


        <!-- Main Contents -->
        <div class="main-contents view-panel anim-fade">

        </div>


        <!-- Footer -->
        <div class="bottom-spacer anim-fade">
            <div class="mask noselect"></div>
            <div class="view-panel bottom-container">
                Footer
            </div>
        </div>

    </div>

    <!--[if gt IE 9]><!-->
    <!--Load all the required libraries (exclude IE < 10 from the party) -->
    <script src="assets/lib/jquery/jquery-2.1.3.min.js"></script>
    <script src="assets/lib/ng/angular.min.js"></script>
    <script src="assets/lib/app/ui.js"></script>
    <script>        
        try {
            if (typeof angular !== 'undefined') {
                appUI.start(function () {

                    angular.module('myApp', []);
                    angular.module('myUI', [])
                        .run(['$rootScope', function ($rootScope) {
                            $rootScope.docker = { enabled: true };
                        }]);

                    angular.bootstrap($('.docked-container'), ['myApp', 'myUI']);

                });
            } else {
                appUI.error(new Error('Application offline...'));
            }
        } catch (ex) {
            appUI.error(ex);
        }
    </script>
    <!--<![endif]-->

</body>
</html>
