<div>
    <h3>Cookie Explorer - {{ mainCtrl.domain || 'Unknown Domain' }}</h3>
    <span style="position: absolute; right: 0;">
        <a class="btn btn-sm btn-default" href=""
           ng-if="mainCtrl.selectedLink"
           ng-class="{ 'btn-danger':mainCtrl.selectedLink.active === false, 'btn-success':mainCtrl.selectedLink.active === true }"
           ng-click="mainCtrl.test(mainCtrl.selectedLink)">Test</a>
        <a class="btn btn-sm btn-default" href=""
           ng-if="mainCtrl.selectedLink"
           ng-class="{ 'btn-danger':mainCtrl.selectedLink.active === false, 'btn-success':mainCtrl.selectedLink.active === true }"
           ng-click="mainCtrl.create(mainCtrl.selectedLink)">Export Cookies</a>
        <a class="btn btn-sm btn-default" href=""
           ng-if="mainCtrl.selectedLink"
           ng-class="{ 'btn-danger':mainCtrl.selectedLink.active === false, 'btn-success':mainCtrl.selectedLink.active === true }"
           ng-click="mainCtrl.import(mainCtrl.selectedLink)">Import Cookies</a>
    </span>
    <tabset>
        <tab heading="Persisted Cookies" select="mainCtrl.selectedLink = null">
            <div ng-include="'views/cookies.tpl.html'">
                Loading...
            </div>
        </tab>
        <tab select="mainCtrl.selectedLink = link; link.trustedUrl = mainCtrl.trustSrc(link.url)" ng-repeat="link in mainCtrl.linked">
            <tab-heading>
                <i class="glyphicon glyphicon-globe"></i> {{ link.label }}
            </tab-heading>
            <iframe ng-src="{{ link.trustedUrl }}" class="preview" style="width: 100%; min-height: 480px; border: none;">
                Your browser does not support iframes...
            </iframe>
        </tab>
    </tabset>
</div>