/* Download CDN style sheets async and non-blocking */
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css';
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css';

h2 a, h2 a:hover {
    text-decoration: none;
}

.glow-green {
    color: #02c41b !important;
    text-shadow: 0 0 2px #4cff00;
}

.glow-red {
    color: #b60000 !important;
    text-shadow: 0 0 2px #ff0000;
}

.text-inactive {
    color: gray;
}

.large-thumb {
    font-size: 48px;
    text-align: center;
}

textarea.form-control {
    width: 100%;
}

.ellipses {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label-fixed {
    width: 64px;
    display: inline-block;
}

.text-report {
    font-family: Courier New, Courier, monospace;
    font-size: 11px;
    overflow: auto;
    overflow-wrap: normal;
}

.compact-list {
    padding: 3px;
}

.top-controls {
    margin: 0;
    font-size: 18px;
}
